.counter-button {
    background-color: #ea580c;
}

.counter-button:hover {
    background-color: #0000FF;
}

.ipyobsplot-plot {
    color: #000;
    background-color: white;
}

.ipyobsplot-error {
    color: #CC0000;
    padding-left: 1em;
}

.ipyobsplot-error::before {
    content: "⚠ ";
}