/* src/js/styles.css */
.pyobsplot-plot h2 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.01em;
  margin: 0;
}
.pyobsplot-plot h3 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
.pyobsplot-plot figcaption {
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}
.pyobsplot-plot.light svg,
.pyobsplot-plot.light figure {
  color: black;
  background-color: white;
}
.pyobsplot-plot.light figcaption {
  color: #777777;
}
.pyobsplot-plot.dark svg,
.pyobsplot-plot.dark figure {
  --plot-background: black;
  color: white;
  background-color: black;
}
.pyobsplot-plot.dark figcaption {
  color: #999999;
}
.pyobsplot-plot.current svg,
.pyobsplot-plot.current figure {
  --plot-background: transparent;
  color: currentColor;
  background-color: transparent;
}
.pyobsplot-plot.current figcaption {
  color: currentColor;
}
.pyobsplot-plot.current [aria-label=tip] {
  fill: white;
  color: black;
  stroke: black;
}
.cell-output-ipywidget-background:has(.p-Widget):has(.pyobsplot-plot.dark) {
  background-color: black !important;
}
.cell-output-ipywidget-background:has(.p-Widget):has(.pyobsplot-plot.current) {
  background-color: transparent !important;
}
