__pycache__
node_modules/
build/
dist/
static/*
test.ipynb
esbuild
*_files/
*_cache/
.ipynb_checkpoints/
.python-version
examples/
**/test-results/
**/playwright-report/
**/playwright/.cache/
*-snapshots/