__pycache__
node_modules/
build/
dist/
src/pyobsplot/static/*
*_files/
*_cache/
.ipynb_checkpoints/
.python-version
examples/test.ipynb
**/test-results/
**/playwright-report/
**/playwright/.cache/
*-snapshots/
/.luarc.json
