[tool.poetry]
name = "pyobsplot"
version = "0.1.1"
description = "Observable Plot as Jupyter widget"
authors = ["Julien Barnier <julien@nozav.org>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
anywidget = "^0.2.0"
pandas = "^1.5.3"
polars = "^0.16.16"
pyarrow = "^11.0.0"
jupyterlab = "^3.6.2"
ipywidgets = "^8.0.6"

[tool.poetry.group.dev.dependencies]
ruff = "^0.0.259"
black = "^23.1.0"
pytest = "^7.2.2"
requests = "^2.28.2"
watchfiles = "^0.19.0"
altair = "^4.2.2"
topojson = "^1.5"
vega-datasets = "^0.9.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
pythonpath = "src"
