on:
  workflow_dispatch:
  push:
    branches: [main]

name: Publish documentation

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install poetry
        run: pipx install poetry

      - name: Install Python and Dependencies
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          path: "doc"
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
